<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>网站设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/admin/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/admin/css/admin.css" media="all">
    <script src="/static/admin/lib/layui/layui.js"></script>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">首页设置</div>
                <div class="layui-card-body" pad15>

                    <div class="layui-form" wid100 lay-filter="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">系统名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="site_name" value="<?php echo empty($siteRow['site_name']) ? '' : $siteRow['site_name']?>" lay-verify="required" class="layui-input">
                            </div>
                        </div>
                        <input type="hidden" name="site_id" value="<?php echo empty($siteRow['site_id']) ? '' : $siteRow['site_id']?>">

                        <div class="layui-form-item">
                            <label class="layui-form-label">开放时间</label>
                            <div class="layui-input-block">
                                <input type="text" name="site_time" value="<?php echo empty($siteRow['site_time']) ? '' : $siteRow['site_time']?>" lay-verify="required"  class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">负责人</label>
                            <div class="layui-input-block">
                                <input type="text" name="site_user" lay-verify="required" value="<?php echo empty($siteRow['site_user']) ? '' : $siteRow['site_user']?>" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">联系电话</label>
                            <div class="layui-input-block">
                                <input type="text" name="site_tel" value="<?php echo empty($siteRow['site_tel']) ? '' : $siteRow['site_tel']?>" lay-verify="required" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">公告</label>
                            <div class="layui-input-block">
                                <textarea name="site_content" placeholder="请输入系统公告" class="layui-textarea"><?php echo empty($siteRow['site_content']) ? '' : $siteRow['site_content']?></textarea>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="set_website">确认保存</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

<script>
    layui.use(['jquery','element','layer','form', 'upload'], function() {
        var form = layui.form;
        var $ = layui.jquery;
        var layer = layui.layer;

        var site_save_url = '{:url("system/site_save")}';

        form.on('submit(set_website)', function(data)
        {
            $.post(
                site_save_url,
                data.field,
                function(res){
                    layer.msg(res.msg, {shade:0.1,time:1500}, function(){
                        if(res.code == 1)
                        {
                            layer.closeAll();
                            window.location.reload();
                        }

                    });
                },'json'
            );
        });
    });
</script>