<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>赔偿列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/admin/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/admin/css/admin.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">图书编号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="book_cert" placeholder="请输入图书编号" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">图书名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="book_name" placeholder="请输入图书名称" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">用户编号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="user_name" placeholder="请输入用户编号" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">用户名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="user_nickname" placeholder="请输入用户名称" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">赔偿状态</label>
                    <div class="layui-input-inline">
                        <select name="pay_status">
                            <option value=""></option>
                            <option value="1">未赔偿</option>
                            <option value="2">已赔偿</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="book-search-form-submit">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-list form-add">添加</button>
            </div>
            <div>
                <table id="list_table" lay-filter="list_table"></table>
            </div>
        </div>
    </div>
</div>


<script src="/static/admin/lib/layui/layui.js"></script>
<script>
    var book_table_url = '{:url("lend/lend_repay_table")}';
    var book_save      = '{:url("book/book_save")}';
    var lend_repay_add = "{:url('lend/lend_repay_add')}";
    var lend_repay_url = "{:url('lend/lend_repay')}";
    var repay_pay_url  = "{:url('lend/lend_repay_pay')}";

    var user_name = '';
    var book_cert = '';

    layui.use(['jquery','table','form'], function() {
        var $      = layui.$;
        var table  = layui.table;
        var form   = layui.form;
        var layer   = layui.layer;

        var payStatusArr = {1:'未赔偿',2:'已赔偿'};

        // 数据表格渲染
        table.render({
            elem: '#list_table'
            ,url: book_table_url //数据接口
            ,method:'post'
            ,toolbar: true
            ,defaultToolbar: ['filter', 'print', 'exports']
            ,page: true //开启分页
            ,limit:20  //每页行数 默认10
            ,limits: [10, 20, 30]
            ,cols: [[ //表头
                {field : 'book_cert', title: '图书编号'}
                ,{field : 'book_name', title: '图书名称'}
                ,{field : 'user_name', title: '用户编号'}
                ,{field : 'user_nickname', title: '用户姓名'}
                ,{field : 'book_price', title: '图书价格(元)',sort: true}
                ,{field : 'pay_price', title: '赔偿价格(元)',sort: true}
                ,{field : 'pay_reason', title: '赔偿原因'}
                ,{field : 'pay_status', title: '赔偿状态',templet:function(d){
                        return "<div>" + payStatusArr[d.pay_status]+"</div>"
                }}
                ,{field : 'created_at', title: '创建时间'}
            ]]
        });


        $('.form-add').on('click', function()
        {
            layer.open({
                type: 2
                ,title: '添加图书赔偿'
                ,content:lend_repay_add
                ,maxmin: true
                ,area: ['100%', '100%']
                ,btn: ['确定', '取消']
                ,yes: function(index, layero){
                    var lendUserName = user_name;
                    var lendBookCert = book_cert;

                    if(lendUserName == '' || lendBookCert == '') {
                        layer.msg('请选择用户或图书');
                        return false;
                    }

                    var body = layer.getChildFrame('body', index);
                    var lendPayReason = body.find('.pay_reason').val();

                    $.post(
                        lend_repay_url,
                        {book_cert: lendBookCert,user_name:lendUserName,pay_reason:lendPayReason},
                        function(res){
                            layer.msg(res.msg, {shade:0.1,time:1000}, function(){
                                if(res.code == 1) {
                                    table.reload('list_table'); //重载表格
                                    layer.closeAll();
                                }
                            });
                        },'json'
                    );
                }
            });
        });

        form.on('submit(book-search-form-submit)', function(data){
            var field = data.field;

            //执行重载
            table.reload('list_table', {
                where: field,
                page: {curr: 1}
            });
        });

        form.on('submit(form-submit)', function(data)
        {

            $.post(
                book_save,
                data.field,
                function(res){
                    layer.msg(res.msg, {shade:0.1,time:1500}, function(){
                        if(res.code == 1)
                        {
                            table.reload('list_table'); //重载表格
                            layer.closeAll();
                        }
                    });
                },'json'
            );
        });
    });
</script>
</body>
</html>